
/* Declaring CSS variables */
:root {
    /* Linear gradient colors for the page bg */
    --page-color-1: #FAEADD;
    --page-color-2: #FBCF4F;
    --page-color-3: #F29CB7;

    /* Linear gradient colors for the card bg */
    --card-color-1: #45FF9A;
    --card-color-2: #2AF0FF;
    --card-color-3: #D383FF;
    --card-color-4: #FE4880;

    /* Ribbon color */
    --ribbon-color: #ED2939;

    /* Generic black color for font */
    --dark-text-color: #36454F;
}

/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: linear-gradient(180deg, 
    var(--page-color-1) 0%, 
    var(--page-color-2) 50%, 
    var(--page-color-3) 100%);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
}

.ribbon {
    height: 40px;
    padding: 5px;
    background-color: var(--ribbon-color);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.ribbon p {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-style: normal;

    padding: 0px 5px 0px 5px;
}

h3 {
    font-family: "Lobster Two", serif;
    font-weight: 100;
    font-style: normal;
    font-size: 28px;
}

h1 {
    font-family: "Esteban", serif;
    font-weight: 100;
    font-style: normal;
    font-size: 80px;
    margin-bottom: 5px;
}

.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    height: 275px;
    padding: 10px 0px 5px 0px;
}

.main-writing {
    font-family: "Esteban", serif;
    font-weight: 100;
    font-style: normal;
    font-size: 16px;

    width: 550px;
    padding: 5px 0px 2px 0px;
}

.link {
    text-decoration: none;
    font-weight: 800;
    font-style: italic;
    box-shadow: inset 0px -2px 0px 0px rgba(254, 72, 128, 1);
}

.link:visited {
    color: black;
    /* box-shadow: inset 0px -2px 0px 0px rgba(254, 72, 128, 1); */
}

.link:hover {
    transition: 0.7s;
    box-shadow: inset 0px -18px 0px 0px rgba(254, 72, 128, 1);
}

.card-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    perspective: 800px;
}

.card-1-container {
    padding: 0px 10px 0px 10px;
    cursor: pointer;
    position: relative;

    transition: transform 1.5s;
    transform-style: preserve-3d;
}

.card-1-front {
    height: 330px;
    width: 220px;
    border-radius: 20px;
    background-image: linear-gradient(135deg, var(--card-color-1) 5%, var(--card-color-2) 40%, var(--card-color-3) 70%, var(--card-color-4) 100%);

    position: absolute;
}

.card-1-back {
    height: 330px;
    width: 220px;
    border-radius: 20px;

    position: absolute;
}

.card-2-container {
    padding: 0px 10px 0px 10px;
}

.card-2-front {
    height: 330px;
    width: 220px;
    border-radius: 20px;
    background-image: linear-gradient(135deg, var(--card-color-1) 5%, var(--card-color-2) 40%, var(--card-color-3) 70%, var(--card-color-4) 100%);
}

.card-2-back {
    height: 330px;
    width: 220px;
    background-image: linear-gradient(90deg, var(--card-color-1) 5%, var(--card-color-2) 40%, var(--card-color-3) 70%, var(--card-color-4) 100%);
    border-radius: 20px;
    display: none;
}

.card-3-container {
    padding: 0px 10px 0px 10px;
}

.card-3-single {
    height: 330px;
    width: 220px;
    border-radius: 20px;
    background-image: linear-gradient(135deg, var(--card-color-1) 5%, var(--card-color-2) 40%, var(--card-color-3) 70%, var(--card-color-4) 100%);
}

img {
    height: auto;
    width: 100%;
    opacity: 0.9;
}

/* Card-shared font styling */

.card-1-front, .card-2-front {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.card-3-single {
    font-family: "Raleway", sans-serif;
    font-style: normal;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-3-single :first-child {
    font-size: 16px;
    font-weight: 600;
}
.card-3-single :last-child {
    font-size: 14px;
    font-weight: 100;
}

/* JS Flipping Class */

.is-flipped {
    transform: rotateY(180deg);
}